@charset "utf-8";
/* 00. font - 구글폰트에서 Montserrat 300/400/600 가져옴 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600&display=swap');
/* reset.css */
* {margin: 0;padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
a {color: inherit; text-decoration: inherit;}
li {list-style: none;}
address, em, i {font-style: normal;}
button {background: none; border: none;}
img {vertical-align: middle;}

/* 공통요소 */
body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    letter-spacing: -0.01em;
    scroll-behavior: smooth; 
}
section {
    margin-bottom: 150px;
}
.inner {
    padding: 0 50px;
    box-sizing: border-box;
}
.box {
    border-radius: 10px;
    overflow: hidden;
}
.btn {
    font-size: 12px;
    background: #fff;
    color: #000;
    border-radius: 30px;
    padding: 12px 25px;
    box-sizing: border-box;
    margin-top: 30px;
    text-transform: uppercase;
    display: inline-block;
}

.wrap {
    margin: 0 auto;
    position: relative;
    background: #141212;
    color: #fff;
}
header {
    position: fixed;
    width: 100%;
    z-index: 9999;
}
header .inner {
    padding: 30px 50px 0;
}
header .inner .logo {
    width: 150px;
    display: flex;
    justify-content: space-between;
}
header .inner .logo span {
    padding: 0 1px;
}
header .inner .logo span img {
    width: 23px;
}
header .gnb {
    text-align: center;
}
header .gnb .menuOpen {
    font-size: 10px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 30px 0;
    z-index: 10;
    cursor: pointer;
}
header .gnb .menuOpen::before {
    content: '';
    width: 80px;
    height: 3px;
    background: #fff;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 30px;
    transition: .3s;
}
header .gnb .menuOpen:hover::before {
    width: 100px;
}
header .gnb .menuBox {
    width: 99%;
    position: absolute;
    top: -1000%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(55, 55, 55, .4);
    backdrop-filter: blur(30px);
    border-radius: 5px;
    padding: 100px 0 30px;
    box-sizing: border-box;
    transition: 1.5s;
}
header .gnb .menuBox li {
    overflow: hidden;
}
header .gnb .menuBox li a {
    display: block;
    font-size: 40px;
    transform: translateY(-100px);
    transition: .6s;
}
header .gnb .menuBox.on {
    top: 10px;
    transition: .4s;
}
header .gnb .menuBox.on li a {
    transform: translateY(0px);
}
header .gnb .menuBox.on li:nth-child(2) a {
    transition-delay: .05s;
}
header .gnb .menuBox.on li:nth-child(3) a {
    transition-delay: .1s;
}
header .gnb .menuBox.on li:nth-child(4) a {
    transition-delay: .15s;
}

/* visual */
.visual .inner {
    display: grid;
    height: 100vh;
    padding: 25px 50px 25px;
    box-sizing: border-box;
    grid-template-rows: auto 1fr auto;
}
.visual .mainText {
    font-size: 80px;
    max-width: fit-content;
    margin-left: auto;
    font-weight: normal;
    line-height: 0.9;
    letter-spacing: -2px;
}
.visual .mainText span {
    display: block;
    overflow: hidden;
}
.visual .mainText span i {
    display: block;
}
.visual .subText {
    font-weight: normal;
    font-size: 20px;
    align-self: flex-end;
    margin-bottom: 50px;
}
.visual .subText span {
    color: #585858;
}
.visual .logoWrap {
    display: flex;
    justify-content: space-between;
}
.visual .logoWrap span {
    width: 16%;
}
.visual .logoWrap span img {
    width: 100%;
}

/* con1 */
.con1 .box {
    padding: 60px;
    background: rgba(55, 55, 55, .4);
    backdrop-filter: blur(100px);
}
.con1 .box .mainText {
    text-transform: uppercase;
    font-size: 60px;
    font-weight: normal;
    margin-bottom: 90px;
}
.con1 .box .mainText span {
    font-style: italic;
    font-weight: bold;
    position: relative;
    padding-right: 100px;
}
.con1 .box .mainText span::after {
    content: '';
    display: inline-block;
    width: 80px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.con1 .box .listBox {
    display: flex;
    flex-direction: row;
}
.con1 .box .listBox li {
    width: 800px;
}
.con1 .box .listBox li img {
    max-width: 110px;
    width: 100%;
}
.con1 .textAni {
    position: relative;
    margin-top: 14px;

}
.con1 .textAni::before {
    content: '';
    width: 110px;
    height: 110px;
    border-radius: 100%;
    background-color: #E36840;
    position: absolute;
    top: 0;
    right: 0;
}
.con1 .textAni ul {
    display: grid;
    max-width: 800px;
}
.con1 .textAni ul li {
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: -1px;
    grid-column-start: 1;
    grid-row-start: 1;
}

/* con2 design */
.con2 .inner {
    display: flex;
    justify-content: space-between;
}
.con2 .textBox {
    width: 28%;
}
.con2 .textBox h3 {
    font-size: 60px;
    font-weight: normal;
    position: -webkit-sticky;
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    letter-spacing: -1px;
}
.con2 .listBox {
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.con2 .listBox li {
    width: 32.2%;
    margin-bottom: 50px;
}
.con2 .listBox li a {
    display: block;
    padding: 45% 0;
    box-sizing: border-box;
    border-radius: 10px;
    filter: brightness(50%);
    transition: .5s;
}
.con2 .listBox li a:hover {
    filter: brightness(100%);
    box-shadow: 0 0 10px rgba(255, 255, 255, .3);
}
.con2 .listBox li a[data-img="1"] {
    background-image: url(https://eunseon-portfolio.netlify.app/img/event.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.con2 .listBox li a[data-img="2"] {
    background-image: url(https://eunseon-portfolio.netlify.app/img/lotteon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.con2 .listBox li a[data-img="3"] {
    background-image: url(https://eunseon-portfolio.netlify.app/img/shoping.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.con2 .listBox li a[data-img="4"] {
    background-image: url(/images/wemake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.con2 .listBox li a[data-img="5"] {
    background-image: url(/images/black.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.con2 .listBox li a[data-img="6"] {
    background-image: url(/images/wemake2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.con2 .listBox li a[data-img="7"] {
    background-image: url(/images/lotte.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.con2 .listBox li a[data-img="8"] {
    background-image: url(/images/kakao.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.con2 .listBox li a[data-img="9"] {
    background-image: url(https://eunseon-portfolio.netlify.app/img/11_intro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* con3 project */
.con3 {
    background-color: #fff;
    color: #141212;
    margin-bottom: 0;
}
.con3 .inner {
    padding: 50px;
}
.con3 .mainTextBox h2 {
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: -5px;
}
.con3 .listBox {
    margin-top: 150px;
    border-top: 1px solid #141212;
}
.con3 .listBox >li {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 30px 30px;
    box-sizing: border-box;
    border-bottom: 1px solid #141212;
}
.con3 .listBox >li .subText {
    flex-grow: 1;
    display: grid;
    grid-template-rows: 2fr auto;
    row-gap: 30px;
}
.con3 .listBox >li .subText h3 {
    font-size: 60px;
    letter-spacing: -3px;
}
.con3 .listBox >li .subText .hashBox {
    display: flex;
    justify-content: start;
}
.con3 .listBox >li .subText .hashBox >li {
    margin-right: 10px;
    opacity: .5;
}
.con3 .listBox >li .link-review {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: .5s;
}
.con3 .listBox >li .link-review::before {
    content: '';
    background-image: url(https://blog.kakaocdn.net/dn/Z9cFp/btsI6e8HZ5v/gA8ENKZDRw8KKrIPSvI4KK/img.png);
    border-radius: 10px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
}
.con3 .listBox >li .link-review::after {
    content:'\21C0';
    display: inline-block;
    font-size: 20px;
    padding-left: 10px;
}
.con3 .listBox >li .link-review:hover {
    font-size: 23px;
}
.con3 .imgBox {
    position: absolute;
    opacity: 0;
    z-index: 100;
}

/* footer */
.footer {
    position: relative;
    overflow: hidden;
}
.footer .inner{
    position: relative;
    padding: 75px 80px 50px;
    box-sizing: border-box;
    height: 100vh;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.footer .box {
    padding: 50px 0 0;
    box-sizing: border-box;
    background: rgba(55, 55, 55, .4);
    backdrop-filter: blur(100px);
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    flex-grow: 1;
}
.footer .box .mainTextBox {
    align-self: center;
    text-transform: uppercase;
    letter-spacing: -1px;
}
.footer .box .mainTextBox h2 {
    font-size: 110px;
    font-style: italic;
}
.footer .box .mainTextBox p {
    font-size: 50px;
    font-style: normal;
}
.footer .box .talkBtn {
    display: grid;
    flex-grow: 1;
    place-items: center;
    align-items: center;
}
.footer .box .talkBtn a {
    display: block;
    width: 160px;
    height: 160px;
    border-radius: 100%;
    background-color: #fff;
    position: relative;
    box-shadow: 0 0 0 13px #1c1c1c, 0 0 50px rgba(255, 255, 255, .3);
}
.footer .box .talkBtn a span {
    font-size: 15px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    height: 85%;
    background-color: #141212;
    border-radius: 100%;
    transition: .5s;
    text-align: center;
    align-content: center;
}
.footer .box .talkBtn a span:hover {
    width: 95%;
    height: 95%;
}
.footer .box .talkBtn a span::after {
    content: '\21C0';
}
.footer .box .btnBox {
    border-top: 1px solid rgba(255, 255, 255, .2);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer .box .btnBox .btn {
    display: inline-block;
    text-transform: uppercase;
    background: none;
    color: #fff;
    opacity: .5;
    margin: 20px;
    padding: 10px;
    transition: .5s;
}
.footer .box .btnBox .btn:hover {
    opacity: 1;
}
.footer .copy {
    padding-top: 25px;
    font-size: 14px;
    text-align: center;
}
.footer .logoWrap {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: -50%;
    left: 0;
    z-index: 1;
}
.footer .logoWrap span {
    width: 16%;
}
.footer .logoWrap span img {
    width: 100%;
}