@charset "utf-8";
/* 00. font - 구글폰트에서 Montserrat 300/400/600 가져옴 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600&display=swap');
/* reset.css */
* {margin: 0; padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
a {color: inherit; text-decoration: inherit;}
li {list-style: none;}
address, em, i {font-style: normal;}
button {background: none; border: none;}
img {vertical-align: middle;}

/* 공통요소 */
body, html {
    scroll-behavior: smooth;
    /*  스크롤이 스무스하게 움직이려면 필수!!  */
    
    cursor: none;
  }
body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    letter-spacing: -0.01em;
    overflow-x: hidden;
}
section {
    margin-bottom: 150px;
}
.inner {
    padding: 0 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.box {
    border-radius: 10px;
    overflow: hidden;
}
.btn {
    font-size: 12px;
    background: #fff;
    color: #000;
    border-radius: 30px;
    padding: 12px 25px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 30px;
    text-transform: uppercase;
    display: inline-block;
}

/* loading_page */
.loading_page {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #141212;
    z-index: 9999;
    display: none;
}
.loading_page .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.loading_page .logo span {
    display: block;
    padding: 0 1px;
}
.loading_page .logo span img {
    width: 100%;
}
.loading_page.scene1 {
    display: block;
}
.loading_page.scene1 .logo span {
    -webkit-animation-name: textUp;
    animation-name: textUp; 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s;
}
@-webkit-keyframes textUp {
    0% {-webkit-transform: translateY(40px); transform: translateY(40px);}
    30% {-webkit-transform: translateY(40px); transform: translateY(40px);}
    100% {-webkit-transform: translateY(0px); transform: translateY(0px);}
}
@keyframes textUp {
    0% {-webkit-transform: translateY(40px); transform: translateY(40px);}
    30% {-webkit-transform: translateY(40px); transform: translateY(40px);}
    100% {-webkit-transform: translateY(0px); transform: translateY(0px);}
}
.loading_page.scene2 .logo span {
    -webkit-transform: translateX(-50px);    
    -ms-transform: translateX(-50px);    
    transform: translateX(-50px); 
    opacity: 0;
}
.loading_page.scene2 .logo span:nth-child(1) {-webkit-transition: .1s;-o-transition: .1s;transition: .1s;}
.loading_page.scene2 .logo span:nth-child(2) {-webkit-transition: .3s;-o-transition: .3s;transition: .3s;}
.loading_page.scene2 .logo span:nth-child(3) {-webkit-transition: .5s;-o-transition: .5s;transition: .5s;}
.loading_page.scene2 .logo span:nth-child(4) {-webkit-transition: .6s;-o-transition: .6s;transition: .6s;}
.loading_page.scene2 .logo span:nth-child(5) {-webkit-transition: .7s;-o-transition: .7s;transition: .7s;}
.loading_page.scene2 .logo span:nth-child(6) {-webkit-transition: .8s;-o-transition: .8s;transition: .8s;}
.rotate.on {
    -webkit-animation-name: rotate;
    animation-name: rotate;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
}
@-webkit-keyframes rotate {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translate(0, 100%) rotate(20deg);
        transform: translate(0, 100%) rotate(20deg);
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
    }
    100% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translate(0, 0) rotate(0deg);
        transform: translate(0, 0) rotate(0deg);
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
    }
}
@keyframes rotate {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translate(0, 100%) rotate(20deg);
        transform: translate(0, 100%) rotate(20deg);
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
    }
    100% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translate(0, 0) rotate(0deg);
        transform: translate(0, 0) rotate(0deg);
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
    }
}
.opacity.on {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}
@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    20% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fadeIn {
    0% {opacity: 0;}
    20% {opacity: 0;}
    100% {opacity: 1;}
}

.wrap {
    margin: 0 auto;
    position: relative;
    background: #141212;
    color: #fff;
}
header {
    position: fixed;
    width: 100%;
    z-index: 9990;
}
header .inner {
    padding: 30px 50px 0;
}
header .logo {
    width: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
header .logo span {
    padding: 0 1px;
}
header .logo span img {
    width: 23px;
}
header .gnb {
    text-align: center;
}
header .gnb .menuOpen {
    font-size: 10px;
    position: absolute;
    top: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 30px 0;
    z-index: 10;
    cursor: pointer;
}
header .gnb .menuOpen::before {
    content: '';
    width: 80px;
    height: 3px;
    background: #fff;
    position: absolute;
    top: 15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 30px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
header .gnb .menuOpen:hover::before {
    width: 120px;
}
header .gnb .menuBox {
    width: 99%;
    position: absolute;
    top: -1000%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: rgba(55, 55, 55, .4);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    border-radius: 5px;
    padding: 100px 0 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: 1.5s;
    -o-transition: 1.5s;
    transition: 1.5s;
}
header .gnb .menuBox li {
    overflow: hidden;
    margin: 10px 0;
}
header .gnb .menuBox li a {
    display: block;
    font-size: 40px;
    -webkit-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
}
header .gnb .menuBox.on {
    top: 10px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}
header .gnb .menuBox.on li a {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}
header .gnb .menuBox.on li:nth-child(2) a {
    -webkit-transition-delay: .05s;
    -o-transition-delay: .05s;
    transition-delay: .05s;
}
header .gnb .menuBox.on li:nth-child(3) a {
    -webkit-transition-delay: .1s;
    -o-transition-delay: .1s;
    transition-delay: .1s;
}
header .gnb .menuBox.on li:nth-child(4) a {
    -webkit-transition-delay: .15s;
    -o-transition-delay: .15s;
    transition-delay: .15s;
}

/* visual */
.visual .inner {
    display: -ms-grid;
    display: grid;
    height: 100vh;
    padding: 25px 50px 25px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-grid-rows: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
}
.visual .mainText {
    font-size: 80px;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin-left: auto;
    font-weight: normal;
    line-height: 0.9;
    letter-spacing: -2px;
}
.visual .mainText span {
    display: block;
    overflow: hidden;
}
.visual .mainText span i {
    display: block;
}
.visual .subText {
    font-weight: normal;
    font-size: 20px;
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-bottom: 50px;
}
.visual .subText span {
    color: #585858;
}
.visual .logoWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.visual .logoWrap span {
    width: 16%;
}
.visual .logoWrap span img {
    width: 100%;
}

/* con1 */
.con1 .box {
    padding: 60px;
    background: rgba(55, 55, 55, .4);
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
}
.con1 .box .mainText {
    text-transform: uppercase;
    font-size: 60px;
    font-weight: normal;
    margin-bottom: 90px;
}
.con1 .box .mainText span {
    font-style: italic;
    font-weight: bold;
    position: relative;
    padding-right: 100px;
}
.con1 .box .mainText span::after {
    content: '';
    display: inline-block;
    width: 80px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.con1 .box .listBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 4vw;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    row-gap: 3vw;
}
.con1 .listBox li {
    overflow: hidden;
}
.con1 .listBox li div {
    margin-right: 3vw;
    font-weight: 300;
    letter-spacing: -1px;
}
.con1 .listBox li .bold {font-weight: bold;}
.con1 .listBox li .normal {font-weight: 400;}
.con1 .listBox li .end {margin-right: 1vw;}

/* textMotion */
.con1 .listBox.textMotion li .tp {-webkit-animation: slideDown 1s linear forwards;animation: slideDown 1s linear forwards;}
.con1 .listBox.textMotion li .bot {-webkit-animation: slideUp 1s linear forwards;animation: slideUp 1s linear forwards;}
.con1 .listBox.textMotion li .left {-webkit-animation: slideRigt 1s linear forwards;animation: slideRigt 1s linear forwards;}
.con1 .listBox.textMotion li .rit {-webkit-animation: slideLeft 1s linear forwards;animation: slideLeft 1s linear forwards;}
.con1 .listBox.textMotion .cet span {opacity: 0; -webkit-animation: scaleMotion 1s linear forwards; animation: scaleMotion 1s linear forwards;}
.listBox.textMotion .cet span:nth-child(1) {-webkit-animation-delay: 0.25s;animation-delay: 0.25s;}
.listBox.textMotion .cet span:nth-child(2) {-webkit-animation-delay: 0.35s;animation-delay: 0.35s;}
.listBox.textMotion .cet span:nth-child(3) {-webkit-animation-delay: 0.45s;animation-delay: 0.45s;}
.listBox.textMotion .cet span:nth-child(4) {-webkit-animation-delay: 0.55s;animation-delay: 0.55s;}
.listBox.textMotion .cet span:nth-child(5) {-webkit-animation-delay: 0.6s;animation-delay: 0.6s;}
.listBox.textMotion .cet span:nth-child(6) {-webkit-animation-delay: 0.65s;animation-delay: 0.65s;}
.listBox.textMotion .cet span:nth-child(7) {-webkit-animation-delay: 0.7s;animation-delay: 0.7s;}
.listBox.textMotion .cet span:nth-child(8) {-webkit-animation-delay: 0.75s;animation-delay: 0.75s;}
.listBox.textMotion .cet span:nth-child(9) {-webkit-animation-delay: 0.8s;animation-delay: 0.8s;}
.listBox.textMotion .cet span:nth-child(10) {-webkit-animation-delay: 0.85s;animation-delay: 0.85s;}

@-webkit-keyframes slideUp {
    0% {-webkit-transform:translateY(100%);transform:translateY(100%)}
    100% {-webkit-transform:translateY(0);transform:translateY(0)}
}
@keyframes slideUp {
    0% {-webkit-transform:translateY(100%);transform:translateY(100%)}
    100% {-webkit-transform:translateY(0);transform:translateY(0)}
}
@-webkit-keyframes slideDown {
    0% {-webkit-transform:translateY(-100%);transform:translateY(-100%)}
    100% {-webkit-transform:translateY(0);transform:translateY(0)}
}
@keyframes slideDown {
    0% {-webkit-transform:translateY(-100%);transform:translateY(-100%)}
    100% {-webkit-transform:translateY(0);transform:translateY(0)}
}
@-webkit-keyframes slideLeft {
    0% {-webkit-transform:translateX(-100%);transform:translateX(-100%)}
    100% {-webkit-transform:translateX(0);transform:translateX(0)}
}
@keyframes slideLeft {
    0% {-webkit-transform:translateX(-100%);transform:translateX(-100%)}
    100% {-webkit-transform:translateX(0);transform:translateX(0)}
}
@-webkit-keyframes slideRigt {
    0% {-webkit-transform:translateX(100%);transform:translateX(100%)}
    100% {-webkit-transform:translateX(0);transform:translateX(0)}
}
@keyframes slideRigt {
    0% {-webkit-transform:translateX(100%);transform:translateX(100%)}
    100% {-webkit-transform:translateX(0);transform:translateX(0)}
}
@-webkit-keyframes scaleMotion {
    0% {-webkit-transform: scale(1.5);transform: scale(1.5); opacity: 0;}
    100% {-webkit-transform: scale(1);transform: scale(1); opacity: 1;}
}
@keyframes scaleMotion {
    0% {-webkit-transform: scale(1.5);transform: scale(1.5); opacity: 0;}
    100% {-webkit-transform: scale(1);transform: scale(1); opacity: 1;}
}

.con1 .textAni {
    position: relative;
    margin-top: 14px;
}
.con1 .textAni::before {
    content: '';
    width: 110px;
    height: 110px;
    border-radius: 100%;
    background-color: #E36840;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-animation: circle linear 1.5s 0s infinite;
    animation: circle linear 1.5s 0s infinite;
}
@-webkit-keyframes circle {
    0% {opacity: 0;}
    30% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes circle {
    0% {opacity: 0;}
    30% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 0;}
}

.con1 .textAni ul {
    display: grid;
    max-width: 800px;
}
.con1 .textAni ul li {
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: -1px;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 1;
    grid-row-start: 1;
    opacity: 0;
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
}

/* con2 design */
.con2 .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.con2 .textBox {
    width: 28%;
}
.con2 .textBox h3 {
    font-size: 60px;
    font-weight: normal;
    position: -webkit-sticky;
    position: sticky;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    letter-spacing: -1px;
}
.con2 .listBox {
    width: 70%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr 1rem 1fr 1rem 1fr 1rem 1fr 1rem 1fr;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: minmax(50px, auto);
    gap: 1rem;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
.con2 .listBox li {
    opacity: 0;
}
.con2 .listBox li:nth-child(1) {
    grid-column: 1/4 span;
    grid-row: 1/1 span;
}
.con2 .listBox li:nth-child(2) {
    grid-column: 5/3 span;
    grid-row: 6/5 span;
}
.con2 .listBox li:nth-child(3) {
    grid-column: 2/3 span;
    grid-row: 6/1 span;
}
.con2 .listBox li:nth-child(4) {
    grid-column: 1/4 span;
    grid-row: 2/4 span;
}
.con2 .listBox li:nth-child(5) {
    grid-column: 1/3 span;
    grid-row: 11/5 span;
}
.con2 .listBox li:nth-child(6) {
    grid-column: 1/4 span;
    grid-row: 7/4 span;
}
.con2 .listBox li:nth-child(7) {
    grid-column: 4/3 span;
    grid-row: 11/4 span;
}
.con2 .listBox li:nth-child(8) {
    grid-column: 5/3 span;
    grid-row: 15/1 span;
}
.con2 .listBox li:nth-child(9) {
    grid-column: 5/3 span;
    grid-row: 1/5 span;
}
.con2 .listBox li a {
    display: block;
    padding: 30% 0;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 10px;
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    -webkit-clip-path: inset(10px);
    clip-path: inset(10px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.con2 .listBox li a:hover {
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
    -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, .3);
    box-shadow: 0 0 10px rgba(255, 255, 255, .3);
    -webkit-clip-path: inset(0);
    clip-path: inset(0);
}
.con2 .listBox li a[data-img="1"] {
    background-image: url(https://eunseon-portfolio.netlify.app/img/event.jpg);
}
.con2 .listBox li a[data-img="2"] {
    background-image: url(https://eunseon-portfolio.netlify.app/img/lotteon.jpg);
}
.con2 .listBox li a[data-img="3"] {
    background-image: url(https://eunseon-portfolio.netlify.app/img/shoping.jpg);
}
.con2 .listBox li a[data-img="4"] {
    background-image: url(/images/wemake.jpg);
}
.con2 .listBox li a[data-img="5"] {
    background-image: url(/images/black.jpg);

}
.con2 .listBox li a[data-img="6"] {
    background-image: url(/images/wemake2.jpg);

}
.con2 .listBox li a[data-img="7"] {
    background-image: url(/images/lotte.jpg);

}
.con2 .listBox li a[data-img="8"] {
    background-image: url(/images/kakao.jpg);

}
.con2 .listBox li a[data-img="9"] {
    background-image: url(https://eunseon-portfolio.netlify.app/img/11_intro.jpg);

}

/* con3 project */
.con3 {
    background-color: #fff;
    color: #141212;
    margin-bottom: 0;
}
.con3 .inner {
    padding: 50px;
}
.con3 .mainTextBox h2 {
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: -5px;
}
.con3 .listBox {
    margin-top: 150px;
    border-top: 1px solid #141212;
}
.con3 .listBox >li {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr auto;
    grid-template-columns: 2fr auto;
    -ms-grid-rows: 2fr auto;
    grid-template-rows: 2fr auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #141212;
}
.con3 .listBox >li .subText {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
}
.con3 .listBox >li .subText h3 {
    font-size: 60px;
    letter-spacing: -3px;
    padding: 30px 0;
    text-indent: 30px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.con3 .listBox >li:hover .subText h3 {
    opacity: .6;
    text-indent: 0;
}
.con3 .listBox >li .link-review {
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.con3 .listBox >li .link-review::before {
    content: '';
    background-image: url(https://blog.kakaocdn.net/dn/Z9cFp/btsI6e8HZ5v/gA8ENKZDRw8KKrIPSvI4KK/img.png);
    border-radius: 10px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
}
.con3 .listBox >li .link-review::after {
    content:'\21C0';
    display: inline-block;
    font-size: 20px;
    padding-left: 10px;
}
.con3 .listBox >li .link-review:hover {
    font-size: 23px;
    opacity: .6;
}
.con3 .listBox >li .hashBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    padding: 0 0 10px;
}
.con3 .listBox >li .hashBox span {
    margin-right: 10px;
    opacity: .5;
}
.con3 .imgBox {
    position: absolute;
    opacity: 0;
    z-index: 100;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}
.con3 .imgBox img {
    max-width: 500px;
    border-radius: 10px;
}

/* footer */
.footer {
    position: relative;
    overflow: hidden;
}
.footer .inner{
    position: relative;
    padding: 75px 100px 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100vh;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.footer .box {
    padding: 50px 0 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(55, 55, 55, .4);
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 100px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.footer .box .mainTextBox {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    text-transform: uppercase;
    letter-spacing: -1px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.footer .box .mainTextBox h2 {
    font-size: 120px;
    font-style: italic;
}
.footer .box .mainTextBox h2 span {
    display: block;
}
.footer .box .btnBox {
    border-top: 1px solid rgba(255, 255, 255, .2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.footer .box .btnBox .btn {
    display: inline-block;
    text-transform: uppercase;
    background: none;
    color: #fff;
    opacity: .5;
    margin: 25px;
    padding: 10px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.footer .box .btnBox .btn:hover {
    opacity: 1;
}
.footer .copy {
    padding-top: 25px;
    font-size: 14px;
    text-align: center;
}
.footer .logoWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: absolute;
    top: -50%;
    left: 0;
    z-index: 1;
}
.footer .logoWrap span {
    width: 16%;
}
.footer .logoWrap span img {
    width: 100%;
}

/* top btn */
.btn.top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-transform: uppercase;
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    opacity: 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    padding: 5px 10px;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}
.btn.top::before {
    content: '\25B2';
    -webkit-transform: scaleX(1.5);
    -ms-transform: scaleX(1.5);
    transform: scaleX(1.5);
}
.btn.top:hover {
    opacity: 1 !important;
    padding: 10px 20px;
}

/* cursor css 부분 */
.cursor {
    pointer-events: none;
}
.cursor_ball {
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    z-index: 9998;
}
.cursor_ball circle {
    fill: #f7f8fa;
}